<% provide(:title, "About") %>

<h1>About / FAQ</h1>

<strong>A movie database?</strong>
<p>Yup.</p>

<strong>So what do I do to use this?</strong>
<p>It's fairly straightforward. You can sign up and start adding movies to your list! There's currently two ways to add movies. Either with the "Add Movie" form, or "Quick Add Movie".</p>
<p><em>"Add Movie"</em> - will try to search The Movie DB to find out what movie you were talking about. If it finds a match it tries to autopopulate as much data as it can about the movie.</p>
<p><em>"Quick Add Movie"</em> - will simply add the title to the movie and a status of "Pending Edit". There is no searching The Movie DB or anything like that. This means you can rapidly add several different movies to your list and then come back to them later to fill them out. If you would like to use the autopopulate feature you'll have an option to do so.</p>

<strong>Movie Statuses?</strong>
<p>Correct. When you set a movie status (Whether it's Watched or Not Watched) you can change the status on the fly from either the main "View Movie" screen, or from the "My Movies" page by clicking on the status buttons.</p>
<p>Do note! That if you set a "Pending Edit" status, clicking the button will land you on the "Edit Movie" page.</p>

<strong>What are Movie Shelves?</strong>
<p>Think of them as "playlists". Perhaps you want to organize movies based on different criteria? For example such as "Best Picture Nominees 2017". You are able to place movies in many different shelves if you'd like so feel free to create as many as you want! All movies belong to the "default" shelf that is created with your account. Deleting a shelf does not delete the movie. So no worries!</p>

<strong>Anything else I should really know about?</strong>
<p>That's pretty much it. Each movie and movie list is tied to a separate account so you can create your own list if you'd like. There's more features that I'd like to add, so come back soon and you'll see something cool probably!</p>

<strong>How are you getting this information?</strong>
<p>I am using an API from <a href="http:///themoviedb.org">The Movie DB</a> Once you enter a title or try to find autofill information it accesses the API to get all the fields</p>

<strong>Why did you do this?</strong>
<p>I really enjoy movies. I wanted to make a website where I could keep track of what movies I wanted to watch next, and since I also wanted it to be fancy I decided it should pick up any data on movies it could find via The Movie DB. I've also wanted to program something. So that's how this page was born.</p>
