<!-- DROPDOWN MENU -->
<nav class="navbar navbar-inverse">
  <div class="container">
	  <div class="navbar-header">
	  	<!-- Brand and toggle get grouped for better mobile display -->
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">Movie Shelf Go</a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
        <% if logged_in? %>
  	    	<li role="presentation" class="dropdown">
  	    		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  	      			Movies <span class="caret"></span>
    				</a>
  		    	<ul class="dropdown-menu">
              <li><a href="/movies">My Movies</a></li>
  	    		</ul>
      		</li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  	      			Shelves <span class="caret"></span>
    				</a>
            <ul class="dropdown-menu">
              <li><a href="/movie_lists">Manage Shelves</a></li>
            </ul>
          </li>
        <% end %>
	      <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	      <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.email %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
          	<%= link_to "Log in", login_path %>
        	</li>
        <% end %>
	    </ul>
	  </div>
  </div>
</nav>
